.nav{
    background-color: rgb(248, 242, 242);
}
.nav-link{
    color: black;
    font-size: 20px;
}
.logout{
    margin-left: 300%;
    cursor: pointer;
}

@media only screen and (max-width:375px) {
    
    .logout{
        margin-left: 10%;
        font-size: 18px;
    }
  }
  @media only screen and (max-width:390px) {
    
    .logout{
        margin-left: 10%;
        font-size: 18px;
    }
  }
  @media only screen and (max-width:414px) {
    
    .logout{
        margin-left: 10%;
        font-size: 18px;
    }
  }
  @media only screen and (max-width:820px) {
    
    .logout{
        margin-left: 10%;
        font-size: 18px;
    }
  }