<section class="h-100">
  <div class="container py-5 h-100 "> 
      <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <form>
                        <div class="form-group" >
                          <h6 class="admin">Admin Account</h6>
                            <input type="email" class="form-control" name="email" required minlength="8" [(ngModel)]="email" #name="ngModel" />
                            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                                <div *ngIf="name.errors"> Email is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                          <h6 class="pass">Password</h6>
                            <input type="password" class="form-control" name="password" [(ngModel)]="password"/>
                        </div>
                        <div class="form-group">
                            <button type="button"(click)="loginUser()" class="btnSubmit">Login</button>
                        </div>
                        
                    </form>
                </div>
                <div class="col-md-6 jbp">
                    <h3>JBP HRS</h3>
                    
                </div>
            </div>
        </div>
  </div>
</section>