.h-100{
    background-color: #eee;
    height: 100%;
    padding: auto;
    
    
}
.login-container{
    
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
       
    
}
@media only screen and (max-width: 390px) {
  .login-container{
    
    margin-left: 0;
    }
  
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background:white;
    width: 35%;

}
@media only screen and (max-width: 390px) {
    .login-form-1 {
      width: 100%;
    }
    
  }

  @media only screen and (max-width: 415px) {
    .login-form-1 {
      width: 100%;
    }
    
  }
  @media only screen and (max-width: 540px) {
    .login-form-1 {
      width: 100%;
    }
    
  }


.login-form-1 h3{
    text-align: center;
    color: #333;
}
.admin{
  margin-top: 0;
}
.pass{
  margin-top: 20%;
}

input{
     width: 150%;
     background-color: #eee;
     margin-top: 12%;
  
}
@media only screen and (max-width: 375px) {
  input {
    width: 130%;
  }
  
}
@media only screen and (max-width: 390px) {
  input {
    width: 130%;
  }
  
}

.jbp{
    padding: 5%;
    background:rgb(56, 54, 54);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    

}

.jbp h3{
    text-align: center;
    margin-top: 35%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 390px) {
  .jbp h3{
    
    margin-top: 10%;
    
}
  
}

.login-container form{
    padding: 22%;
}
.btnSubmit
{
    width:40%;
    border-radius: .5rem;
    padding: 4%;
    border: none;
    cursor: pointer;
    margin-top: 15%;
    margin-left: 110%;

}

@media only screen and (max-width: 375px) {
  .btnSubmit {
    margin-left: 90%;
  }
}
@media only screen and (max-width: 390px) {
  .btnSubmit {
    margin-left: 90%;
  }
}
.login-form-1 .btnSubmit{
  font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #eee;
    background-color: rgb(56, 54, 54);
}


