<ul class="nav justify-content-center">
<li class="nav-item">
        <a class="nav-link"  href="/attendance">Attendance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/report">Report</a>
      </li>
      </ul>
      <router-outlet></router-outlet>
 
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of tdata">
          
          <td>{{tdata.name}}</td>
          
        </tr>
        </tbody>
      </table>


    
  
        
        