 <!-- Navbar -->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/attendance">Attendance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/report">Report</a>
  </li>
</ul>
<router-outlet></router-outlet>

 <!-- table -->

<section class="h-100">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tdata">
          <td >{{ data.name }}</td>
          <td (click)="markatten()">{{ data.mark }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
